/* styles.css */

/* Root Variables */
:root {
    --primary-color: #f7931a;
    /* Bitcoin orange */
    --secondary-color: #1a1a1d;
    /* Dark background */
    --accent-color: #4CAF50;
    /* Accent green */
    --text-color: #f4f4f4;
    /* Light text */
    --secondary-text-color: #b3b3b3;
    /* Secondary text */
    --background-color: #121212;
    /* Background */
}

/* Global Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Header Styles */
header {
    margin-bottom: 40px;
}

header h1 {
    font-size: 2.5em;
    color: var(--primary-color);
}

header p {
    font-size: 1.2em;
    color: var(--secondary-text-color);
}

header hr {
    border: none;
    height: 1px;
    background-color: var(--text-color);
    margin: 20px 0;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--primary-color);
}

/* Main Content Styles */
main section {
    margin-bottom: 40px;
}

main section h2 {
    font-size: 2em;
    color: var(--accent-color);
    margin-bottom: 10px;
}

main section hr {
    border: none;
    height: 1px;
    background-color: var(--text-color);
    margin: 20px 0;
}

main section p {
    font-size: 1.1em;
    line-height: 1.6;
    color: var(--secondary-text-color);
}

main section ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

main section ul li {
    margin: 10px 0;
    font-size: 1.1em;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label,
form input {
    margin: 10px 0;
    font-size: 1.1em;
}

form input {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: #222;
    color: var(--text-color);
}

form button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 20px;
}

form button:hover {
    background-color: var(--accent-color);
}

/* Footer Styles */
footer {
    margin-top: 40px;
}

footer p {
    font-size: 1em;
    color: var(--secondary-text-color);
}